{% extends "base.html" %}

{% block content %}
    <h2>🌸 Добро пожаловать в POLINARIA🌺🦩, дорогая(ой) {{ current_user.username }}! 🌸</h2>
    <p>Ты совершил(а) маленькое волшебство — создала свой уголок в этой уютной вселенной! ✨</p>
    <p>«Как же здорово, что теперь здесь есть ты — со своими мыслями, настроением и той самой лёгкостью, которая делает мир ярче» 🌸</p>
    <p>Пусть здесь тебе будет:</p>
       <p>☁️ Уютно </p>
       <p>📸 Интересно</p>
       <p>💫 Вдохновляюще</p>
    <p>С любовью,</p>
    <p>ПОЛИНОЧКА ШУПИКОВА</p>
    <p>Email: {{ current_user.email }}</p>
    <h2>Your Posts</h2>
    {% for post in current_user.posts %}
        <article class="post">
            <h3><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h3>
            <p>{{ post.content[:100] }}...</p>
        </article>
    {% endfor %}
{% endblock %}