{% extends "base.html" %}

{% block content %}
<h4 >POLINARIA🌺🦩 - ЭТО СОЦИАЛЬНАЯ СЕТЬ С ЭСТЕТИЧНЫМИ СТАТЬЯМИ📝 </h4>
    <h1 >Это главная поляна💐</h1>
    <h3 >На ней расцветают даже самые нескромные мысли 🌼</h3>
<h2 >✧･ﾟ: *✧･ﾟ♡*(ﾉ◕ヮ◕)ﾉ*:･ﾟ✧*:･ﾟ✧</h2>
    {% for post in posts %}
        <article class="post">
            <h2><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p>От {{ post.author.username }}  {{ post.date_posted.strftime('%Y-%m-%d') }}</p>
            <p>{{ post.content[:200] }}...</p>
        </article>
    {% endfor %}
{% endblock %}